@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-VariableFont_opsz\,wght.ttf");
}

@font-face {
  font-family: "Epilogue";
  src: url("../fonts/Epilogue/Epilogue-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik/Rubik-VariableFont_wght.ttf");
}

:root {
  --grayscale-50: #f9fafb;
  --grayscale-100: #f4f6f8;
  --grayscale-400: #637381;
  --grayscale-800: #212b36;
  --grayscale-950: #161d25;
  --brand: #2b67e3;
  --brand-hover: #1b52c1;
  --brand-container: #2b67e31a;
  --red: #de3618;
  --red-container: #de36181a;
  --yellow: #eec200;
  --yellow-container: #eec2001a;
  --green: #47c1bf;
  --green-container: #47c1bf1a;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a,
input,
button,
textarea {
  outline: none;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  border: none;
}

a,
button {
  cursor: pointer;
}

input,
textarea {
  cursor: text;
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: var(--brand);
  border-radius: 1em;
}

body {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;

  @import "../styles/general/headers";
  @import "../styles/lending";
  @import "../styles/homepage";
  @import "../styles/categories";
  @import "../styles/search";
  @import "../styles/product";
  @import "../styles/basket";
  @import "../styles/customer";
  @import "../styles/payment";
  @import "../styles/review";
  @import "../styles/order";
  @import "../styles/done";
  @import "../styles/login";
  @import "../styles/register";
  @import "../styles/general/footers";
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}

.container {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;

  // Medium Laptop
  @media (max-width: 1400px) {
    max-width: 1200px;
  }

  // Mini Monitors
  @media (max-width: 1280px) {
    max-width: 1000px;
  }

  @media (max-width: 1140px) {
    max-width: 900px;
  }

  // Mini Laptop
  @media (max-width: 991px) {
    max-width: 800px;
  }

  @media (max-width: 860px) {
    max-width: 700px;
  }

  // Table
  @media (max-width: 768px) {
    max-width: 600px;
  }

  @media (max-width: 660px) {
    max-width: 500px;
  }

  @media (max-width: 560px) {
    max-width: 440px;
  }

  // Phone
  @media (max-width: 480px) {
    max-width: 400px;
  }

  @media (max-width: 440px) {
    max-width: 360px;
  }

  @media (max-width: 380px) {
    max-width: 320px;
  }
}
