footer {
  overflow: hidden;

  &#lending {
    padding-bottom: 24px;

    .up {
      background: white;
    }
  }

  .up {
    padding: 48px 0;
    background: #f9fafb;

    @media (max-width: 991px) {
      padding: 32px 0;
    }

    .container {
      display: flex;
      justify-content: space-between;
      align-items: start;
      gap: 20px;

      @media (max-width: 991px) {
        flex-wrap: wrap;
        gap: 24px;
      }

      .logo {
        display: flex;
        align-items: start;
        gap: 16px;
        width: 30.5%;

        @media (max-width: 991px) {
          width: 100%;
        }

        svg {
          margin-bottom: 12px;

          @media (max-width: 991px) {
            margin-bottom: 6px;
          }

          @media (max-width: 768px) {
            width: 160px;
          }

          @media (max-width: 480px) {
            width: 120px;
          }
        }

        p {
          color: #5a7184;
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 145%;

          @media (max-width: 768px) {
            font-size: 14px;
          }

          @media (max-width: 480px) {
            font-size: 12.5px;
          }
        }
      }

      .nav {
        gap: 80px;
        margin-top: 4px;

        @media (max-width: 1400px) {
            gap: 65px;
        }

        @media (max-width: 1280px) {
            gap: 50px;
        }

        @media (max-width: 1140px) {
            gap: 40px;
        }


        @media (max-width: 991px) {
          width: 100%;
          gap: 30px;
          justify-content: space-between;
        }

        @media (max-width: 768px) {
          flex-wrap: wrap;
          row-gap: 20px;
          column-gap: 40px;
        }

        .tab {
          gap: 16px;

          @media (max-width: 991px) {
            width: calc(100% / 4);
            gap: 12px;
          }

          @media (max-width: 768px) {
            width: calc(50% - 20px);
            gap: 8px;
          }

          @media (max-width: 480px) {
            width: 100%;
            display: flex;
            justify-content: space-between;
          }

          h3 {
            color: #161d25;
            font-family: Inter;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 125%;
            letter-spacing: 0.237px;

            @media (max-width: 768px) {
              font-size: 16px;
            }

            @media (max-width: 480px) {
              position: relative;

              &:before {
                content: "\25be";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
                font-size: 20px;
                cursor: pointer;
              }
            }
          }

          a {
            color: #161d25;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;

            @media (max-width: 768px) {
              font-size: 14px;
            }

            @media (max-width: 480px) {
              display: none;
            }
          }
        }
      }
    }
  }

  .down {
    background: #f4f6f8;
    height: 50px;

    @media (max-width: 768px) {
      height: auto;
    }

    .container {
      height: 100%;
      align-items: center;
      justify-content: space-between;

      @media (max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;
        padding: 17.5px 0;
        gap: 16px;
      }

      @media (max-width: 480px) {
        padding: 16px 0;
            gap: 10px;
      }

      p {
        color: #5a7184;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;

        @media (max-width: 768px) {
          font-size: 14px;
        }

        @media (max-width: 480px) {
            font-size: 12.5px;
        }
      }

      .socials {
        gap: 24px;

        @media (max-width: 768px) {
          gap: 17.5px;
        }

        a svg {
          width: 28px;
          height: 28px;

          @media (max-width: 768px) {
            width: 24px;
            height: 24px;
          }

          @media (max-width: 480px) {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
}
