header#lending {
  width: 100%;
  height: 100px;
  background-color: var(--brand);
  overflow: hidden;

  .container {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid white;
  }

  .logo {
    @media (max-width: 991px) {
      width: 160px;

      svg {
        width: 100%;
      }
    }
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 991px) {
      display: none;
    }

    ul {
      display: flex;
      align-items: center;
      gap: 48px;

      li {
        list-style: none;

        a {
          color: #fff;
          font-family: Inter;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: -0.4px;
        }
      }
    }
  }

  a.button {
    border-radius: 100px;
    background: #fff;
    padding: 8px 16px;

    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.36px;
  }
}

header#navbar .up {
  overflow: hidden;
  background: white;
  position: relative;
  z-index: 15;

  @media (max-width: 991px) {
    display: none;
  }

  .container {
    align-items: center;
    justify-content: space-between;
    height: 50px;

    .socials {
      align-items: center;
      gap: 12px;

      a {
        color: #000;
        font-size: 16px;
        font-weight: 400;
        font-family: Inter;

        &:hover {
          svg path {
            fill: var(--brand);
          }
        }

        svg {
          width: 24px;
          height: 24px;
          transition: 0.2s;
        }
      }
    }

    .nav {
      align-items: center;

      ul {
        gap: 24px;

        li {
          list-style: none;

          a {
            color: #637381;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 125%;
            letter-spacing: 0.178px;

            &:hover {
              color: var(--brand);
            }
          }

          &.lng {
            align-items: center;
            gap: 4px;

            img {
              width: 20px;
              margin-right: 4px;
            }

            span {
              color: #161d25;
              font-family: Inter;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 125%;
              letter-spacing: 0.178px;
            }
          }
        }
      }
    }
  }
}

header hr {
  all: unset;
  display: block;
  width: 100%;
  height: 1px;
  background: #f4f6f8;
  position: relative;
  z-index: 20;

  @media (max-width: 991px) {
    display: none;
  }
}

.main header#navbar.down {
  background: white;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid #f4f6f8;

  .container {
    height: 90px;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;

    .wrapper {
      gap: 37px;
      align-items: center;

      .search {
        height: 44px;
        border-radius: 2px;
        overflow: hidden;

        @media (max-width: 991px) {
          display: none;
        }

        input {
          width: 245px;
          background: #f9fafb;
          border-right: 1px solid #f4f6f8;
          padding: 12px;

          color: black;
          font-feature-settings: "liga" off, "clig" off;
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 142.857%;

          @media (max-width: 1140px) {
            width: 180px;
          }

          &::placeholder {
            color: #959ead;
            font-feature-settings: "liga" off, "clig" off;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 142.857%;
          }
        }

        a,
        button {
          display: flex;
          align-items: center;
          justify-content: center;

          &.types {
            transition: 0.15s background-color;
            width: 163px;
            background: #f9fafb;
            align-items: center;
            justify-content: center;
            gap: 9px;

            @media (max-width: 1140px) {
              width: 140px;
              gap: 4px;
            }

            span {
              color: #161d25;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 142.857%;
            }

            &:hover {
              background: #f4f6f8;
            }
          }

          &.iconbutton {
            background: #212b36;
            width: 44px;
            border-radius: 2px;

            &:hover {
              svg {
                transform: scale(1.1);
              }
            }

            svg {
              width: 28px;
              height: 28px;
              margin-top: 1px;
              transition: 0.2s;
            }
          }
        }
      }
    }

    .account {
      align-items: center;
      position: relative;
      gap: 15px;

      .basket {
        &:hover {
          .shop-showing {
            transform: translateY(0);
            visibility: visible;
            opacity: 1;
          }
        }

        .shop-showing {
          width: 100%;
          transition: 0.2s;
          padding-top: 20px;
          position: absolute;
          top: 49px;
          left: 0;
          transform: translateY(-10px);
          
          visibility: hidden;
          opacity: 0;
          
          .box {
            width: 100%;
            height: 100%;
            border-radius: 2px;
            background: white;
            box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
            overflow: hidden;

            .card{
              height: 64px;
              border-bottom: 1px solid #f4f6f8;
              align-items: center;
              padding: 10px;
              gap: 12px;
              transition: 0.1s background-color;

              &:hover{
                background: #f4f6f8;
              }

              &:last-child{
                border-bottom: none;
              }

              img{
                width: 40px;
                height: 50px;
                object-fit: contain;
                background-color: #eee;
                border-radius: 4px;
              }

              .name{
                width: calc(100% - 100px);
                gap: 2px;

                h3{
                  color: #161d25;
                  font-family: Inter;
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 133.333%;
                }

                p{
                  color: #50b83c;
                  font-family: Inter;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 137.5%;
                }
              }
            }
          }
        }
      }

      .iconbutton {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        border: 1px solid #f4f6f8;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          svg {
            transform: scale(1.1);
          }
        }

        @media (max-width: 991px) {
          display: none;
        }

        svg {
          transition: 0.2s;
        }

        &.shop {
          position: relative;

          &.active::before {
            content: "";
            color: white;
            padding-top: 2px;
            position: absolute;
            width: 19px;
            height: 17px;
            background: var(--red);
            border-radius: 4px;
            top: -4px;
            right: -8px;
            font-size: 12px;
            font-weight: 500;
            text-align: center;
          }
        }
      }

      .user-info {
        align-items: center;
        gap: 16px;

        @media (max-width: 991px) {
          display: none;
        }

        .content {
          gap: 4px;

          p {
            color: #637381;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 125%;
            letter-spacing: 0.178px;
          }

          .setting {
            gap: 8px;

            span {
              color: #161d25;
              font-family: Inter;
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: 125%;
              letter-spacing: 0.178px;
            }
          }
        }
      }
    }

    .mobile-menu {
      display: none;

      @media (max-width: 991px) {
        display: flex;
        gap: 12px;

        .iconbutton {
          width: 48px;
          height: 48px;
          border-radius: 50%;
          border: 1px solid #f4f6f8;
          background: transparent;

          svg {
            margin-top: 1px;
          }
        }
      }
    }
  }
}
