#categories main {
  background: linear-gradient(
    180deg,
    #f9fafb 0%,
    #f9fafb 5%,
    transparent 5%,
    transparent 100%
  );

  #title-path {
    padding: 60px 0;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 991px) {
      flex-direction: column-reverse;
      gap: 10px;

      .column,
      .path {
        width: 100%;
      }
    }

    @media (max-width: 560px) {
      padding: 24px 0;
    }

    .column {
      gap: 8px;

      h2 {
        color: #161d25;
        font-family: Inter;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: 144.444%;
        letter-spacing: 0.2px;

        @media (max-width: 480px) {
          font-size: 24px;
          font-weight: 600;
          line-height: 150%;
        }
      }

      p {
        color: #959ead;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 137.5%;

        @media (max-width: 480px) {
          font-size: 14px;
          line-height: 157.143%;
        }
      }
    }

    .path {
      align-items: center;
      gap: 8px;

      @media (max-width: 480px) {
        gap: 0;
      }

      .pathname {
        gap: 8px;
        align-items: center;

        @media (max-width: 480px) {
          gap: 2px;
        }

        span {
          color: #5a7184;
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 137.5%;
        }

        &.active span {
          color: var(--brand);
          font-weight: 500;

          @media (max-width: 480px) {
            letter-spacing: -0.1px;
          }
        }
      }

      .right-icon {
        padding-top: 2px;
      }
    }
  }

  #category {
    gap: 30px;
    border-bottom: 1px solid #f4f6f8;
    padding-bottom: 72px;

    @media (max-width: 991px) {
      padding-bottom: 48px;
      gap: 25px;
    }

    @media (max-width: 560px) {
      padding-bottom: 24px;
      gap: 20px;
    }

    .card {
      width: calc((100% - (2 * 30px)) / 3);
      transition: 0.15s;
      border-radius: 2px;
      padding: 20px;
      border: 1px solid #f4f6f8;
      background: #fff;
      gap: 16px;

      @media (max-width: 991px) {
        width: calc((100% - 25px) / 2);
      }

      @media (max-width: 560px) {
        width: 100%;
      }

      &:hover {
        box-shadow: 0px 20px 24px 0px rgba(0, 0, 0, 0.04);
        border-color: white;
      }

      img {
        width: 100%;
        aspect-ratio: 86/50;
        object-fit: contain;
        border-radius: 8px;
        background: #efefef;
        margin-bottom: 4px;
      }

      .title {
        align-items: center;
        justify-content: space-between;

        h3 {
          color: #161d25;
          font-family: Inter;
          font-size: 22px;
          font-style: normal;
          font-weight: 500;
          line-height: 136.364%;
          letter-spacing: 0.2px;
        }

        p {
          color: var(--brand);
          text-align: right;
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 142.857%;
        }
      }

      ul li {
        list-style: none;
        align-items: center;
        height: 54px;
        gap: 8px;

        p {
          width: 100%;
          color: #161d25;
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 137.5%;
        }

        span {
          color: #959ead;
          text-align: right;
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 142.857%;
        }
      }
    }
  }

  #partners {
    padding: 80px 0;
    gap: 14px;

    @media (max-width: 991px) {
      padding: 25px 0 40px;
    }

    h2 {
      color: #161d25;
      text-align: center;
      font-family: Rubik;
      font-size: 36px;
      font-style: normal;
      font-weight: 500;
      line-height: 144.444%;
      letter-spacing: 0.2px;

      @media (max-width: 991px) {
        text-align: start;
        font-size: 32px;
      }

      @media (max-width: 768px) {
        font-size: 28px;
      }

      @media (max-width: 560px) {
        font-size: 24px;
        font-weight: 600;
        line-height: 150%;
      }
    }

    p.subtitle {
      color: #959ead;
      text-align: center;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      margin-bottom: 34px;

      @media (max-width: 991px) {
        text-align: start;
        font-size: 15px;
        margin-bottom: 29px;
      }

      @media (max-width: 560px) {
        font-size: 14px;
        font-weight: 400;
        line-height: 157.143%;
        margin-bottom: 24px;
      }
    }

    .wrapper {
      gap: 30px;

      @media (max-width: 560px) {
        gap: 10px;
      }

      img {
        width: calc((100% - (3 * 30px)) / 4);
        border-radius: 2px;
        aspect-ratio: 8/5;
        object-fit: cover;

        @media (max-width: 560px) {
          width: calc(50% - 5px);
        }
      }
    }
  }
}
