#done main {
  min-height: calc(100svh - 140px);

  section {
    width: 800px;
    height: 100%;
    gap: 38px;
    padding-bottom: 80px;

    .title {
      gap: 12px;

      h1 {
        color: #161d25;
        text-align: center;
        font-family: Inter;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: 144.444%;
        letter-spacing: 0.2px;
      }

      p {
        color: #959ead;
        text-align: center;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 171.429% */
        text-align: center;

        span {
          color: #000;
        }
      }
    }

    button {
      gap: 6px;
      background: transparent;

      color: #2b67e3;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
    }
  }
}
