#payment main {
  background: linear-gradient(
    180deg,
    #f9fafb 0%,
    #f9fafb 30%,
    transparent 30%,
    transparent 100%
  );

  #title-path {
    padding: 60px 0;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 991px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 14px;
    }

    .column {
      gap: 8px;

      h2 {
        color: #161d25;
        font-family: Inter;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: 144.444%;
        letter-spacing: 0.2px;
      }

      p {
        color: #959ead;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 137.5%;
      }
    }

    a,
    button {
      transition: 0.2s;
      padding: 12px 17px;
      border-radius: 4px;
      border: 2px solid var(--brand);
      background: white;

      color: var(--brand);
      text-align: center;
      font-feature-settings: "liga" off, "clig" off;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 137.5%;

      display: flex;
      align-items: center;
      gap: 6px;

      svg {
        margin-bottom: 1px;
        path {
          transition: 0.2s;
        }
      }

      &:hover {
        background: var(--brand);
        color: white;

        svg path {
          fill: white;
        }
      }
    }
  }

  #shopping-navigation {
    height: 56px;
    gap: 0px;
    align-items: center;
    border-radius: 2px;
    background: white;
    margin-bottom: 36px;
    overflow: hidden;

    @media (max-width: 991px) {
      flex-wrap: wrap;
      height: auto;
      row-gap: 24px;
      padding: 16px 0;
    }

    .box {
      height: 100%;
      padding: 0 18px;
      gap: 12px;
      align-items: center;

      &.next {
        span {
          background: #454f5b;
        }
        p {
          color: #161d25;
        }
      }

      &.active {
        span {
          background: var(--brand);
        }
        p {
          color: var(--brand);
        }
      }

      span {
        display: flex;
        width: 20px;
        height: 20px;
        justify-content: center;
        align-items: center;

        border-radius: 4px;
        background: #c4cdd5;

        color: white;
        text-align: center;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        padding-right: 0.5px;
        margin-left: 2px;
      }

      p {
        color: #959ead;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 137.5%;
      }
    }
  }

  #shopping {
    padding-bottom: 60px;
    align-items: flex-start;
    gap: 30px;

    @media (max-width: 991px) {
      flex-direction: column;

      #payment-section,
      aside {
        width: 100% !important;
      }
    }

    #payment-section {
      width: calc(100% - 380px);
      gap: 30px;

      #delivery {
        border-radius: 2px;
        border: 1px solid #f4f6f8;
        background: white;
        padding: 24px 20px 20px;
        gap: 10px;

        h3 {
          width: 100%;
          color: #161d25;
          font-family: Rubik;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: 120%;
          letter-spacing: 0.2px;
        }

        p.subtitle {
          color: #959ead;
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 142.857%;
          margin-bottom: 16px;
        }

        ul {
          gap: 10px;

          li {
            padding: 20px 16px 20px 20px;
            list-style: none;
            border-radius: 2px;
            justify-content: space-between;
            align-items: center;

            @media (max-width: 991px) {
              flex-wrap: wrap;
              row-gap: 20px;
            }

            @media (max-width: 660px) {
              justify-content: start;
              column-gap: 16px;
            }

            &.active {
              background: #50b83c1a;

              .selector .name h3 {
                color: #50b83c;
                font-weight: 500;
              }

              .prices {
                svg path {
                  fill: #50b83c;
                }
                p span {
                  color: #50b83c !important;
                }
              }
            }

            .selector {
              gap: 18px;

              .radio {
                padding: 4px;
                width: fit-content;
                height: fit-content;

                input[type="radio"] {
                  width: 20px;
                  height: 20px;
                  accent-color: green;
                  cursor: pointer;
                }
              }

              .name {
                gap: 6px;

                h3 {
                  color: #161d25;
                  font-family: Inter;
                  font-size: 18px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 133.333%;
                }

                p {
                  color: #959ead;
                  font-family: Inter;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 142.857%;
                }
              }
            }

            .prices {
              gap: 8px;

              p {
                span.price {
                  color: #5a7184;
                  font-family: Inter;
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 137.5%;
                  margin-right: 6px;
                }

                span.sale {
                  color: #959ead;
                  font-family: Inter;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 142.857%;
                  text-decoration: line-through;
                }
              }

              @media (max-width: 660px) {
                padding-left: 44px;
              }
              @media (max-width: 480px) {
                padding-left: 4px;
              }
            }

            .images {
              display: flex;
              justify-content: flex-end;
              min-width: 100px;

              @media (max-width: 660px) {
                min-width: auto;
              }
            }
          }
        }
      }

      #pay {
        border-radius: 2px;
        border: 1px solid #f4f6f8;
        background: white;
        padding: 24px 20px 30px;
        gap: 10px;

        h3 {
          width: 100%;
          color: #161d25;
          font-family: Rubik;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: 120%;
          letter-spacing: 0.2px;
        }

        p.subtitle {
          color: #959ead;
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 142.857%;
          margin-bottom: 16px;
        }

        .types {
          gap: 30px;

          .box {
            width: calc((100% - (1 * 30px)) / 2);
            padding: 20px;
            gap: 6px;
            border-radius: 2px;
            border: 1px solid #f4f6f8;
            background: white;

            @media (max-width: 768px) {
              width: 100%;
            }

            &.active {
              background: #f4f6f8;
            }

            .radio {
              padding: 4px;
              width: fit-content;
              height: fit-content;

              input[type="radio"] {
                width: 20px;
                height: 20px;
                accent-color: black;
                cursor: pointer;
              }
            }

            .name {
              align-items: center;
              gap: 16px;

              h4 {
                color: #161d25;
                font-family: Inter;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 133.333%;
              }
            }

            p {
              color: #959ead;
              font-family: Inter;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 142.857%;
              text-wrap: balance;
            }
          }
        }

        .credits {
          display: none;
          gap: 30px;
          margin-top: 20px;

          &.active {
            display: flex;
          }

          hr {
            all: unset;
            display: block;
            width: 100%;
            height: 1px;
            background: #f4f6f8;
          }

          .box {
            width: calc((100% - (1 * 30px)) / 2);
            gap: 8px;

            @media (max-width: 768px) {
              width: 100%;
            }

            &.poll {
              width: calc((100% - (2 * 30px)) / 3);

              @media (max-width: 768px) {
                width: calc((100% - (1 * 30px)) / 2);
              }

              @media (max-width: 560px) {
                width: 100%;
              }
            }

            label {
              color: #5a7184;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 142.857%;
            }

            input {
              border: 1px solid #f4f6f8;
              background: white;
              border-radius: 2px;
              padding: 12px 20px;

              color: #161d25;
              font-feature-settings: "liga" off, "clig" off;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 142.857%;

              &::placeholder {
                color: #959ead;
                font-feature-settings: "liga" off, "clig" off;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 142.857%;
              }
            }
          }
        }

        button {
          width: calc((100% - (2 * 30px)) / 3);
          background: #637381;
          height: 48px;
          border-radius: 2px;

          @media (max-width: 768px) {
           width: 100%;
          }

          color: #fff;
          text-align: center;
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 137.5%;
          margin-top: 20px;
        }
      }
    }

    aside {
      width: 350px;
      position: sticky;
      padding: 20px;
      top: 90px;
      gap: 20px;
      border-radius: 2px;
      border: 1px solid #f4f6f8;
      background: white;

      @media (max-width: 991px) {
        position: static;
        top: auto;
      }

      h3 {
        color: #161d25;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 133.333%;
      }

      ul.shopping {
        padding: 5px 0;
        gap: 20px;

        li {
          padding: 5px 0;
          align-items: center;
          list-style: none;
          gap: 16px;

          img {
            padding: 5px 0;
            height: 80px;
            border-radius: 8px;
            aspect-ratio: 1;
            object-fit: contain;
          }

          .name {
            width: calc(100% - 96px);
            gap: 4px;

            h5 {
              color: #161d25;
              font-family: Inter;
              font-size: 17px;
              font-style: normal;
              font-weight: 500;
              line-height: 133.333%;
            }

            .sub {
              align-items: center;
              justify-content: space-between;

              p {
                width: calc(100% - 24px);

                span.price {
                  display: inline-block;
                  color: #50b83c;
                  font-family: Inter;
                  font-size: 15px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: 137.5%;
                  min-width: 110px;
                }

                span.items {
                  color: #959ead;
                  font-family: Inter;
                  font-size: 13px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 142.857%;
                }
              }

              .iconbutton {
                width: 24px;
                height: 24px;
                background: white;
                border-radius: 2px;
                transition: 0.2s;
                align-self: flex-end;

                &:hover {
                  background: var(--red-container);

                  svg path {
                    fill: var(--red);;
                  }
                }
              }
            }
          }
        }
      }

      ul.total {
        gap: 15px;

        li {
          list-style: none;
          justify-content: space-between;

          p {
            color: #959ead;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 137.5%;
          }

          span {
            color: #161d25;
            text-align: right;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 137.5%;
          }

          &.discount span {
            color: var(--red);;
          }

          &.bold {
            p,
            span {
              color: #161d25;
              font-weight: 500;
            }
          }
        }
      }

      hr {
        all: unset;
        display: block;
        width: 100%;
        height: 1px;
        background: #f4f6f8;
      }

      .form {
        gap: 15px;
        margin-top: 10px;

        a, button {
          width: 100%;
          height: 48px;
          gap: 6px;
          border-radius: 2px;
          background: #f4f6f8;

          color: #919eab;
          text-align: center;
          font-family: Inter;
          font-size: 15px;
          font-style: normal;
          font-weight: 500;
          line-height: 137.5%;

          &.active {
            background: #43467f;
            color: #fff;
          }
        }
      }
    }
  }
}
