#productpage main {
  #product-hero {
    background: #f9fafb;
    padding: 100px 0 48px;

    @media (max-width: 991px) {
      padding: 64px 0 48px;
    }

    @media (max-width: 768px) {
      padding: 48px 0 32px;
    }

    @media (max-width: 560px) {
      padding: 24px 0;
    }

    .container {
      gap: 50px;

      @media (max-width: 991px) {
        flex-direction: column;

        .image,
        .details {
          width: 100%;
          max-width: none;
        }
      }
    }

    .image {
      width: 40%;
      row-gap: 20px;
      column-gap: 28px;

      img {
        width: calc((100% - (2 * 28px)) / 3);
        border-radius: 2px;
        aspect-ratio: 13/11;
        object-fit: cover;
        background: #efefef;
        padding: 10px;
        max-height: 30%;
        cursor: pointer;

        &:nth-child(1) {
          aspect-ratio: 89/69;
          width: 100%;
          padding: 0;
          max-height: none;
        }

        &.active{
          position: absolute;
          z-index: 10000;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          width: 100%;
          height: 100svh;
          object-fit: contain;
          padding: 5%;
          background: #00000099;
          max-height: none;
        }
      }
    }

    .details {
      gap: 12px;
      max-width: calc(100% - (40% - 50px));

      h1 {
        color: #161d25;
        font-family: Rubik;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: 144.444%;
        letter-spacing: 0.2px;
        text-wrap: pretty;
        margin-bottom: 4px;

        @media (max-width: 560px) {
          font-size: 22px;
          line-height: 136.364%;
        }
      }

      .rate-product-purchase {
        gap: 10px;
        align-items: center;
        margin-bottom: 6px;

        .rate {
          padding: 6px 8px 4px;
          border-radius: 2px;
          background: #f49342;
          gap: 4px;

          span {
            color: #fff;
            font-family: Rubik;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 142.857%;
            letter-spacing: 0.156px;
          }
        }

        span.dot {
          color: #f4f6f8;
        }

        p {
          color: #959ead;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 142.857%;

          @media (max-width: 991px) {
            text-overflow: ellipsis;
            text-wrap: nowrap;
            overflow: hidden;
          }
        }
      }

      .description {
        p {
          color: #5a7184;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 175%;
        }

        span {
          color: var(--brand);
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 137.5%;
        }
      }

      hr {
        all: unset;
        display: block;
        width: 100%;
        height: 1px;
        background-color: #f4f6f8;
      }

      .control {
        gap: 30px;
        margin-bottom: 40px;

        @media (max-width: 991px) {
          flex-wrap: wrap;
        }

        .box {
          gap: 10px;

          p {
            color: #5a7184;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 142.857%;
          }

          select {
            height: 42px;
            padding: 10px 12px;
            outline: none;
            border-radius: 2px;
            border: 1px solid #f4f6f8;
            background: #f9fafb;

            &,
            option {
              color: #161d25;
              font-family: Inter;
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              line-height: 142.857%;
              cursor: pointer;
            }
          }

          input {
            width: 75px;
            height: 42px;
            padding: 10px 12px;
            border-radius: 2px;
            border: 1px solid #f4f6f8;
            background: #f9fafb;

            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
              opacity: 1;
              cursor: pointer;
            }
          }

          .colors {
            padding: 2px;
            border-radius: 2px;
            border: 1px solid #f4f6f8;
            background: #f9fafb;
            height: 42px;

            button {
              padding: 9px 25px;
              border-radius: 2px;
              background: white;
              transition: 0.2s;

              color: #959ead;
              text-align: center;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 142.857%;

              &.active {
                background: #637381;
                color: #fff;
                font-weight: 500;
              }
            }
          }
        }
      }

      .price-box {
        align-items: center;
        gap: 18px;

        @media (max-width: 560px) {
          justify-content: space-between;
        }

        @media (max-width: 480px) {
          gap: 10px;
        }

        @media (max-width: 440px) {
          gap: 0;
          row-gap: 10px;
        }

        h2 {
          color: #161d25;
          font-family: Rubik;
          font-size: 28px;
          font-style: normal;
          font-weight: 500;
          line-height: 157.143%;
          letter-spacing: 0.2px;
          margin-right: 8px;

          @media (max-width: 560px) {
            font-size: 26px;
            font-weight: 500;
            line-height: 169.231%;
            letter-spacing: 0.2px;

            span {
              color: #161d2580;
              font-size: 20px;
              font-weight: 400;
            }
          }

          @media (max-width: 480px) {
            margin: 0;
          }

          @media (max-width: 440px) {
            font-size: 24px;
            letter-spacing: 0;
          }
        }

        button {
          background: white;
          border: 1px solid var(--brand);
          transition: 0.2s;
          border-radius: 2px;
          padding: 0 18px;
          height: 48px;

          color: var(--brand);
          text-align: center;
          font-feature-settings: "liga" off, "clig" off;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 137.5%;

          &.active {
            background: var(--brand);
            padding: 0 13px;
            color: white;
            gap: 10px;

            &:hover {
              background: var(--brand-hover);
            }

            @media (max-width: 560px) {
              width: 200px;

              span {
                text-overflow: ellipsis;
                text-wrap: nowrap;
                overflow: hidden;
                max-width: calc(100% - 32px);
              }
            }

            @media (max-width: 480px) {
              width: 140px;
            }
          }

          &:hover {
            background: var(--brand);
            color: white;

            &.iconbutton {
              svg path {
                fill: white;
              }
            }
          }

          &.iconbutton {
            width: 48px;
            padding: 0;
            border-color: #f4f6f8;
          }

          &.buy {
            @media (max-width: 768px) {
              width: 280px;
            }

            @media (max-width: 560px) {
              width: calc(100% - 66px);
            }
          }
        }
      }
    }
  }

  #specifications {
    .navigations {
      height: 56px;
      align-items: center;
      justify-content: space-between;
      overflow: hidden;

      @media (max-width: 991px) {
        flex-direction: column-reverse;
        align-items: start;
        gap: 24px;
        height: auto;
        padding: 16px 0;
      }

      .links {
        height: 100%;

        .link {
          height: 100%;
          padding: 0 24px;
          background: white;
          gap: 10px;
          align-items: center;

          @media (max-width: 768px) {
            padding: 0 16px;
          }

          color: #959ead;
          text-align: center;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 137.5%;
          text-wrap: nowrap;

          &.active {
            color: #161d25;
          }
        }

        .share span {
          color: #5a7184;
          font-weight: 500;
          font-size: 14px;
        }
      }
    }
    .features {
      row-gap: 40px;
      column-gap: 30px;
      padding: 30px 0 50px;

      @media (max-width: 991px) {
        gap: 30px;

        .description,
        .specification,
        .complect {
          width: 100% !important;
        }
      }

      @media (max-width: 768px) {
        flex-direction: column;

        .sku,
        .code,
        .ean {
          width: 100% !important;
        }
      }

      .description {
        width: 100%;

        p {
          color: #5a7184;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 171.429%;
        }
      }

      .specification,
      .complect {
        width: calc((100% - (1 * 30px)) / 2);
        gap: 0;

        h3 {
          width: 100%;
          height: 48px;
          color: #161d25;
          font-family: Rubik;
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: 111.111%;
          letter-spacing: 0.2px;
        }

        .box {
          width: 100%;
          height: 48px;
          align-items: center;

          h4 {
            width: 150px;
            padding-left: 20px;

            color: #959ead;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 142.857%;
          }

          p {
            color: #161d25;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 142.857%;
            width: calc(100% - 150px);

            text-wrap: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }

          &.stripe:nth-child(even) {
            background: #f9fafb;
            border-radius: 2px;
          }

          &.half {
            width: 50%;

            @media (max-width: 560px) {
              width: 100%;
            }

            .icon {
              padding: 0 12px 0 14px;
            }
          }
        }
      }

      .sku,
      .code,
      .ean {
        width: calc((100% - (2 * 30px)) / 3);
        height: 48px;
        align-items: center;

        h4 {
          width: 150px;
          padding-left: 20px;

          color: #959ead;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 142.857%;
        }

        p {
          color: #161d25;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 142.857%;
        }
      }
    }
  }

  #rating-reviews {
    padding: 40px 0 50px;
    align-items: flex-start;
    gap: 50px;

    #rating {
      width: 100%;
      align-items: flex-end;
      gap: 50px;

      @media (max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;

        .title,
        .lines {
          width: 100% !important;
        }
      }

      .title {
        width: 28%;

        h3 {
          color: #161d25;
          font-family: Rubik;
          font-size: 22px;
          font-style: normal;
          font-weight: 500;
          line-height: 136.364%;
          letter-spacing: 0.2px;
          margin-bottom: 12px;
        }

        p {
          color: #5a7184;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 142.857%;
        }

        .rating {
          align-items: center;
          margin-top: 20px;
          margin-bottom: 12px;

          .grade {
            color: #161d25;
            font-family: Rubik;
            font-size: 56px;
            font-style: normal;
            font-weight: 400;
            line-height: 128.571%;
            letter-spacing: 0.2px;
            margin: 0 10px 0 16px;
          }

          .base {
            color: #161d25;
            font-family: Rubik;
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            letter-spacing: 0.2px;
            margin-top: 4px;
          }
        }

        .recommended {
          width: fit-content;
          background: #f9fafb;
          padding: 12px 16px;
          border-radius: 2px;
          gap: 6px;

          h4 {
            color: #161d25;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 142.857%;
          }
        }
      }

      .lines {
        width: calc(72% - 50px);
        gap: 22px;

        .box {
          gap: 20px;
          align-items: center;

          &:nth-child(1) .line::before {
            width: 75%;
          }
          &:nth-child(2) .line::before {
            width: 60%;
          }
          &:nth-child(3) .line::before {
            width: 45%;
          }
          &:nth-child(4) .line::before {
            width: 30%;
          }
          &:nth-child(5) .line::before {
            width: 10%;
          }

          .line {
            width: calc(100% - 100px);
            height: 6px;
            border-radius: 1em;
            background-color: #f4f6f8;
            position: relative;
            overflow: hidden;

            &::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 0%;
              height: 100%;
              border-radius: 1em;
              background: #50b83c;
            }
          }

          .rate {
            align-items: center;

            span {
              color: #161d25;
              font-family: Rubik;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 142.857%;
              letter-spacing: 0.156px;
              margin-right: 5px;
            }
          }

          .count {
            color: #5a7184;
            text-align: right;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 142.857%;
          }
        }
      }
    }

    hr {
      all: unset;
      display: block;
      width: 100%;
      height: 1px;
      background: #f4f6f8;
    }

    #reviews {
      width: calc(100% - 400px);
      gap: 36px;

      @media (max-width: 991px) {
        width: 100%;
      }

      .title {
        align-items: center;
        justify-content: space-between;

        @media (max-width: 560px) {
          flex-direction: column;
          align-items: flex-start;
          gap: 14px;
        }

        h3.subtitle {
          color: #161d25;
          font-family: Rubik;
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: 111.111%;
          letter-spacing: 0.2px;
        }

        .types {
          align-items: center;
          gap: 8px;

          p {
            color: #959ead;
            text-align: right;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            line-height: 137.5%;
          }

          button {
            background: #f9fafb;
            border-radius: 2px;
            padding: 15px 16px;
            gap: 8px;

            // text
            color: #161d25;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 137.5%;
          }
        }
      }

      .reviews {
        gap: 36px;

        .review {
          gap: 20px;

          .user-actions {
            align-items: center;

            @media (max-width: 768px) {
              justify-content: space-between;
            }

            .user {
              min-width: 300px;
              align-items: center;
              gap: 16px;

              @media (max-width: 768px) {
                min-width: auto;
              }

              img {
                width: 48px;
                height: 48px;
                border-radius: 50%;
                border: 1px solid #979797;
                background: lightgray;
              }

              .name {
                gap: 5px;

                h5 {
                  color: #161d25;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 142.857%;
                }

                p {
                  color: #959ead;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 142.857%;
                }
              }
            }

            .stars {
              width: calc(100% - 400px);

              @media (max-width: 768px) {
                display: none;
              }

              p {
                color: #959ead;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
              }
            }

            .actions {
              gap: 15px;

              button {
                width: 40px;
                height: 40px;
                background: white;
                border-radius: 2px;
                border: 1px solid #f4f6f8;

                &.active.like svg path {
                  fill: #50b83c;
                }
                &.active.diss svg path {
                  fill: var(--red);
                }
              }
            }
          }

          .description {
            display: flex;
            flex-direction: column;
            gap: 6px;

            p {
              color: #5a7184;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 175%;
            }

            button {
              display: none;
              background: transparent;
              width: min-content;
              color: var(--brand);
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: 137.5%;
              text-wrap: nowrap;
              cursor: pointer;
            }

            &.non-active {
              p {
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
              }
              button{
                display: block;
              }
            }
          }

          hr {
            all: unset;
            display: block;
            width: 100%;
            height: 1px;
            background: #f4f6f8;
            margin-top: 16px;
          }
        }
      }

      .get-more-reviews button {
        background: white;
        gap: 10px;
        padding: 0 16px;
        height: 46px;

        span {
          color: var(--brand);
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 137.5%;
        }
      }
    }

    aside {
      width: 350px;
      position: sticky;
      top: 90px;
      border-radius: 2px;
      padding: 25px 20px 22px;
      background: #f9fafb;

      @media (max-width: 991px) {
        width: 100%;
        position: static;
        top: auto;
      }

      h3 {
        color: #161d25;
        font-family: Rubik;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 111.111%;
        letter-spacing: 0.2px;
        margin-bottom: 30px;
      }

      .form {
        gap: 24px;

        .box {
          gap: 8px;

          label {
            color: #5a7184;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 142.857%;
          }

          input,
          textarea {
            background: white;
            border-radius: 2px;
            padding: 12px 20px;

            color: #161d25;
            font-feature-settings: "liga" off, "clig" off;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 142.857%;

            &::placeholder {
              color: #959ead;
              font-feature-settings: "liga" off, "clig" off;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 142.857%;
            }
          }

          textarea {
            resize: none;
            height: 180px;
          }

          select {
            height: 42px;
            padding: 10px 12px;
            outline: none;
            border-radius: 2px;
            border: 1px solid white;
            background: white;

            &,
            option {
              color: #161d25;
              font-feature-settings: "liga" off, "clig" off;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 142.857%;
              cursor: pointer;
            }
          }
        }

        button {
          width: 100%;
          height: 48px;
          margin-top: 6px;
          background: var(--brand);
          border-radius: 2px;

          color: #fff;
          text-align: center;
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 137.5%;
        }
      }
    }
  }

  #related {
    padding: 47px 0 40px;
    gap: 37px;

    .title {
      justify-content: space-between;

      h2 {
        color: #161d25;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 133.333%;
        letter-spacing: 0.2px;
      }
    }

    .swiper {
      width: 100%;
      height: 100%;
      padding: 0 40px 40px !important;
      max-width: 1440px;

        // Medium Laptop
      @media (max-width: 1400px) {
        max-width: 1280px;
      } // Mini Monitors
      @media (max-width: 1280px) {
        max-width: 1080px;
      }
      @media (max-width: 1140px) {
        max-width: 980px;
      } // Mini Laptop
      @media (max-width: 991px) {
        max-width: 880px;
      }
      @media (max-width: 860px) {
        max-width: 780px;
      } // Table
      @media (max-width: 768px) {
        max-width: 680px;
      }
      @media (max-width: 660px) {
        max-width: 580px;
      }
      @media (max-width: 560px) {
        max-width: 520px;
      } // Phone
      @media (max-width: 480px) {
        max-width: 480px;
      }
      @media (max-width: 440px) {
        max-width: 440px;
      }
      @media (max-width: 380px) {
        max-width: 400px;
      }

      .swiper-slide {
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .card {
        transition: 0.15s;
        height: auto;
        border-radius: 8px;
        padding: 20px;
        z-index: 9;
        gap: 12px;
        position: relative;
        overflow: hidden;

        &:hover {
          box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);

          .actions {
            visibility: visible;
            opacity: 1;
          }
        }

        .sales {
          width: 100%;
          align-items: center;
          justify-content: space-between;
          height: 25.5px;
          transition: .2s;

          .sale {
            display: none;
            background: #dc36181a;
            border-radius: 2px;
            padding: 4px 9px 3.5px;

            &.active {
              display: block;
            }

            span {
              color: var(--red);
              text-align: center;
              font-family: Inter;
              font-size: 12px;
              font-style: normal;
              font-weight: 600;
              line-height: 150%;
            }
          }
        }

        img {
          width: 100%;
          aspect-ratio: 1/1;
          object-fit: cover;
          border-radius: 2px;
          transition: .2s;
        }

        .title {
          width: 100%;
          transition: .2s;

          h4 {
            color: #161d25;
            font-family: Inter;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 137.5%;
            margin-bottom: 10px;
            text-wrap: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            text-align: start;
          }

          .price {
            align-items: center;
            justify-content: space-between;

            p {
              color: var(--brand);
              font-family: Inter;
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: 142.857%;
              text-align: start;
            }

            .rate {
              gap: 4px;
            }
          }
        }

        .actions {
          transition: 0.1s;
          background: rgba(0, 0, 0, 0.2);
          width: 100%;
          height: 100%;

          position: absolute;
          top: 0;
          left: 0;

          visibility: hidden;
          opacity: 0;

          gap: 19px;

          button {
            background: white;
            border: 1px solid #c4cdd51a;
            border-radius: 2px;
            width: 36px;
            height: 36px;

            svg {
              width: 24px;
              height: 24px;
            }

            &.active svg path {
              fill: #454f5b;
            }

            &.favorite {
              position: absolute;
              top: 25px;
              right: 20px;
            }
          }
        }
      }
    }

    a.link,
    button.link {
      transition: 0.2s;
      padding: 12px 22px;
      border-radius: 4px;
      border: 2px solid var(--brand);
      background: white;

      color: var(--brand);
      text-align: center;
      font-feature-settings: "liga" off, "clig" off;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 137.5%;

      &:hover {
        background: var(--brand);
        color: white;
      }
    }
  }
}
