#register main {
  height: calc(100svh - 140px);
  max-height: 800px;

  background: linear-gradient(
    180deg,
    #f9fafb 0%,
    #f9fafb 45%,
    transparent 45%,
    transparent 100%
  );

  .container {
    height: 100%;
    max-width: 1024px;
  }

  section {
    height: 100%;
    gap: 30px;

    .register {
      width: 64%;
      height: fit-content;
      background: white;
      border-radius: 2px;
      padding: 30px;
      gap: 30px;

      .title {
        align-items: center;
        justify-content: space-between;

        h2 {
          color: #161d25;
          font-family: Inter;
          font-size: 28px;
          font-style: normal;
          font-weight: 500;
          line-height: 157.143%;
          letter-spacing: 0.2px;
        }

        a,button {
          color: var(--brand);;
          text-align: right;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 137.5%;
          background: transparent;
        }
      }

      .providers {
        gap: 18px;

        .e-imzo {
          width: calc(100% - 132px);
          height: 48px;
          border-radius: 2px;
          background: #637381;

          color: #fff;
          text-align: center;
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 137.5%;
        }

        .iconbutton {
          width: 48px;
          height: 48px;
          border-radius: 2px;
          background: #f4f6f8;
        }
      }

      .form {
        gap: 20px;

        .box {
          width: calc((100% - (1 * 30px)) / 2);
          gap: 8px;

          &.poll {
            width: calc((50% - (1 * 45px)) / 2);
          }

          &.full {
            width: 100%;
          }

          label {
            color: #5a7184;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 142.857%;
          }

          input {
            border: 1px solid #f4f6f8;
            background: white;
            border-radius: 2px;
            padding: 12px 20px;

            color: #161d25;
            font-feature-settings: "liga" off, "clig" off;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 142.857%;

            &::placeholder {
              color: #959ead;
              font-feature-settings: "liga" off, "clig" off;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 142.857%;
            }
          }

          select {
            height: 42px;
            padding: 10px 12px;
            outline: none;
            border-radius: 2px;
            border: 1px solid #f4f6f8;
            background: white;

            &,
            option {
              color: #161d25;
              font-feature-settings: "liga" off, "clig" off;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 142.857%;
              cursor: pointer;

              &[selected] {
                color: #959ead;
              }
            }
          }

          &.phones {
            .phone {
              border-radius: 2px;
              border: 1px solid #f4f6f8;
              background: white;
              padding: 5px 0;

              .prefix {
                width: 100px;
                border-right: 1px solid #f4f6f8;
                gap: 10px;

                img {
                  width: 24px;
                  height: 16px;
                  object-fit: cover;
                }

                span {
                  color: #161d25;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 142.857%;
                }
              }

              input {
                width: calc(100% - 100px);
                border-radius: 2px;
                border: 0;
                background: white;
                padding: 7px 14px;
              }
            }
          }

          &.primary {
            gap: 12px;
            padding-left: 2px;

            input {
              cursor: pointer;
            }

            label {
              color: #161d25;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 142.857%;

              span {
                color: var(--brand);
              }
            }
          }
        }

        button {
          border-radius: 2px;
          background: var(--brand);
          width: 100%;
          height: 48px;

          color: #fff;
          text-align: center;
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 22px; /* 137.5% */
        }
      }

      hr {
        all: unset;
        display: block;
        width: 100%;
        height: 1px;
        background: #f4f6f8;
        margin: 8px 0;
      }
    }

    .slider {
      width: calc(36% - 30px);
      height: fit-content;
      border-radius: 2px;
      overflow: hidden;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        aspect-ratio: 6/11;
        object-fit: cover;
      }

      .shadow {
        width: 100%;
        height: 60%;
        position: absolute;
        left: 0;
        bottom: 0;
        background: linear-gradient(
          to bottom,
          #45566600 0%,
          #37455364 40%,
          #212b36 100%
        );

        display: flex;
        flex-direction: column;
        justify-content: end;
        padding: 0 30px 40px 30px;
        gap: 8px;

        h3 {
          color: #fff;
          font-family: Inter;
          font-size: 28px;
          font-style: normal;
          font-weight: 500;
          letter-spacing: 0.2px;
        }

        p {
          color: #959ead;
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 142.857%;
        }
      }
    }
  }
}

#register-alt main {
  #hero {
    padding: 40px 0;
    gap: 30px;

    .content {
      width: calc(50% - 30px);
      gap: 20px;

      h3 {
        color: #161d25;
        font-family: Rubik;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: 0.2px;
        text-wrap: balance;
      }

      p.subtitle {
        color: #5a7184;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 142.857%;
        margin-bottom: 30px;
      }

      .box {
        gap: 16px;
        margin-bottom: 5px;

        h4 {
          color: #161d25;
          font-family: Rubik;
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: 111.111%;
          letter-spacing: 0.2px;
        }

        p {
          color: #959ead;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 171.429%;
          margin-top: 9px;
          text-wrap: balance;
        }
      }
    }

    .form {
      width: 50%;
      padding: 30px;
      gap: 30px;
      column-gap: 20px;

      .title{
        gap: 10px;
      }

      h3 {
        width: 100%;
        color: #161d25;
        font-family: Inter;
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: 157.143%;
        letter-spacing: 0.2px;
      }

      p.subtitle {
        width: 100%;
        color: #5a7184;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 171.429%;
        text-wrap: balance;
        margin-bottom: 10px;
      }

      .box {
        width: calc((100% - 20px) / 2);
        gap: 8px;

        &.poll {
          width: calc(40% - 10px);
        }

        &.longer {
          width: calc(60% - 10px);
        }

        &.full {
          width: 100%;
        }

        label {
          color: #5a7184;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 142.857%;
        }

        input {
          border: 1px solid #f4f6f8;
          background: #f4f6f8;
          border-radius: 2px;
          padding: 12px 20px;

          color: #161d25;
          font-feature-settings: "liga" off, "clig" off;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 142.857%;

          &::placeholder {
            color: #959ead;
            font-feature-settings: "liga" off, "clig" off;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 142.857%;
          }
        }
      }

      .actions {
        width: 100%;

        .first {
          width: calc(100% - 220px);
          height: 48px;
          border-radius: 2px;
          background: var(--brand);;
          line-height: 48px;
          display: block;

          color: #fff;
          text-align: center;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 137.5%;

          display: flex;
          align-items: center;
          justify-content: center;
        }

        p {
          display: inline-block;
          width: 80px;
          text-align: center;
          line-height: 48px;
        }

        .second {
          width: 140px;
          height: 48px;
          border-radius: 2px;
          background: #f4f6f8;
          line-height: 48px;
          display: block;

          color: #5a7184;
          text-align: center;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 137.5%;

          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  #partners {
    padding: 40px 0;
    align-items: center;
    gap: 30px;

    h2 {
      color: #161d25;
      text-align: center;
      font-family: Rubik;
      font-size: 28px;
      font-style: normal;
      font-weight: 500;
      line-height: 157.143%;
      letter-spacing: 0.2px;
    }

    .row {
      width: 100%;
      gap: 60px;
      justify-content: space-evenly;
      align-items: center;
    }

    .logo {
      width: 120px;
      height: 120px;
      transition: 0.15s;
      border-radius: 4px;
      background: white;

      &:hover {
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.04);
      }
    }
  }
}

